.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  #root{
  
    text-align:center;
  
  }
  
  * {
    box-sizing: border-box;
  }
  
  .calculator {
    margin: 0 auto;
    left: 44%;
    background-color: pink;
    width: 100%;
    width: 200px;
    height: 250px;
    padding: 5px;
  
    border: 3px solid red;
  }
  
  .container {
    margin: 0 auto;
    width: 100%;
    display: block;
  }
  
  .work-zone {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .input,
  .display {
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px;
    text-align: end;
    border: 2px solid black;
  }
  
  .table {
    margin-top: 10px;
    max-width: 100%;
    display: grid;
    align-items: start;
  }
  
  .row {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 100%;
    margin-bottom: 3px;
  }
  
  .row-btn-reset {
    width: 85%;
    padding: 5px;
    margin-right: 3px;
  }
  
  .row-btn-division,
  .row-btn-multiplication,
  .row-btn-subtraction,
  .row-btn-sum {
    width: 18%;
    padding: 5px;
    text-align: center;
  }
  
  .row-btn {
    width: 26.6%;
    margin-right: 3px;
  }
  
  .row-btn-equally {
    width: 47.1%;
  }

  .btn-calculator {
    padding: 5px 10px;
    margin-top: 70px;
    opacity: .9;
  
    background: pink;
    text-align: center;
  }

  .btn-calculator:hover {
    opacity: 1;
    border: 3px solid blue;
 }
  